#img1 {
  opacity: 1.0;
}

#img1 *:hover img{
  opacity: 0.5;
  
}

#img1 *:hover h2{
  opacity: 0.5;
  
}

#img1 *:hover p{
  opacity: 0.5;
  
}

.slide1 {
background-image: url('/public/img/slider1.jpg');
background-size: 100%;
height: 400px;
padding: 20px;
}



  .slide3 {
    background-image: url('/public/img/slider2.jpg');
    background-size: 100%;
    height: 400px;
    padding: 20px;
    }


    .slide2{
      background-image: url('/public/img/slider2.jpg');
      background-size: 100%;
      height: 400px;
      padding: 20px;
      }



.slide2:hover{
 opacity: 0.5;
}
 

